@import url(reset.css);
@import url(style.css);
@import url(style2.css);
@import url(style3.css);
@import url(style4.css);
@import url(fonts.css);
.db-margin {
  margin-top: 69px;
  margin-bottom: 42px; }

.db-inner1 {
  display: block; }

.db-inner {
  display: none; }

.db-class1 {
  position: relative;
  width: 100%; }

.db-class1:before {
  float: left;
  content: '';
  margin-top: 44.5%;
  display: inline-block;
  vertical-align: top;
  width: 0px; }

.db-class2 {
  position: relative;
  width: 100%;
  height: 100%; }

.db-class2:before {
  float: left;
  content: '';
  margin-top: 44.5%;
  display: inline-block;
  vertical-align: top;
  width: 0px; }

.db-divimg {
  width: 100%;
  height: 100%;
  position: relative; }
  .db-divimg img {
    height: 100%; }
  .db-divimg span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    font-family: "Conv_pt-serif_[allfont.ru]";
    color: #fff;
    font-size: 26px;
    line-height: 26px; }

.db-wrapper {
  position: absolute;
  width: 100%;
  height: 100%; }

.db-div1 {
  float: left;
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; }
  .db-div1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }
  .db-div1 span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    font-family: "Conv_pt-serif_[allfont.ru]";
    color: #fff;
    font-size: 26px;
    line-height: 26px; }

.db-div2 {
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
  height: 50%;
  box-sizing: border-box; }
  .db-div2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }
  .db-div2 span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    font-family: "Conv_pt-serif_[allfont.ru]";
    color: #fff;
    font-size: 26px;
    line-height: 26px; }

.db-div3 {
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
  height: 50%;
  box-sizing: border-box; }
  .db-div3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }
  .db-div3 span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    font-family: "Conv_pt-serif_[allfont.ru]";
    color: #fff;
    font-size: 26px;
    line-height: 26px; }

.db-div4 {
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
  height: 50%;
  box-sizing: border-box; }
  .db-div4 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }
  .db-div4 span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    font-family: "Conv_pt-serif_[allfont.ru]";
    color: #fff;
    font-size: 26px;
    line-height: 26px; }

.db-div5 {
  position: relative;
  overflow: hidden;
  float: left;
  width: 33%;
  height: 50%;
  box-sizing: border-box; }
  .db-div5 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }
  .db-div5 span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    font-family: "Conv_pt-serif_[allfont.ru]";
    color: #fff;
    font-size: 26px;
    line-height: 26px; }

.db-div6 {
  position: relative;
  overflow: hidden;
  float: left;
  width: 42%;
  height: 50%;
  box-sizing: border-box; }
  .db-div6 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }
  .db-div6 span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    font-family: "Conv_pt-serif_[allfont.ru]";
    color: #fff;
    font-size: 26px;
    line-height: 26px; }

.ah-blok-slider {
  position: relative; }

.prev_arrs1 {
  display: block;
  position: absolute;
  width: 43px;
  height: 50px;
  left: 0px;
  top: 46%;
  background: url(../img/db-arr-left.png) center center no-repeat; }

.next_arrs1 {
  display: block;
  position: absolute;
  width: 43px;
  height: 50px;
  right: 0px;
  top: 46%;
  background: url(../img/db-arr-right.png) center center no-repeat; }

@media only screen and (min-width: 320px) {
  .item {
    height: 500px;
    overflow: hidden; } }
@media only screen and (min-width: 768px) {
  .db-inner1 {
    display: none; }

  .db-inner {
    display: block; } }
@media only screen and (min-width: 992px) {
  .item {
    height: auto;
    overflow: none; }

  .prev_arrs1 {
    display: block;
    position: absolute;
    width: 43px;
    height: 50px;
    left: -22px;
    top: 46%;
    background: url(../img/db-arr-left.png) center center no-repeat; }

  .next_arrs1 {
    display: block;
    position: absolute;
    width: 43px;
    height: 50px;
    right: -22px;
    top: 46%;
    background: url(../img/db-arr-right.png) center center no-repeat; } }

/*# sourceMappingURL=style2.css.map */
