.clear{
	clear:both;
}


.df-cap, .df-img-text, .df-data, .df-text-caption {
	font-family: "Conv_pt-serif_[allfont.ru]";
}

.df-allevents, .df-img-text span, .df-text-caption p {
	font-family: "OpenSans-Regular";
}



.df-events-and-news{
	.df-caption{
		text-align: center;		
		margin-top: 50px;
		margin-bottom: 28px;			
				
		.df-cap{
			font-size: 38px; color:#363636;		//42	
			display: inline-block;
			letter-spacing: 2.2px;
		}
		.df-all-events a{
			font-size: 16px; color:#636363; font-family: "OpenSans-Regular";			
			padding: 9px 25px;
			display: inline-block;
			vertical-align: 25%;
			background: url(/img/dfbgevents.png) no-repeat right  center;			
		}		
	}
	.df-content{
		margin-bottom: 20px;
		.df-img {
			float: left;
			width: 100%;
			margin-bottom: 20px;
			img{
				width: 100%;
				height: auto;
			}
			.df-img-text{							 
				background: #254150;
				padding: 5px 55px 30px 28px; 
				em{
					font-size: 16px; color:#6e8b9a;
				}
				h1 a{
					font-size: 19px;//26
					color:#ffffff;
					display: inline-block; 					
				}
				span{
					font-size: 15px; color:#6e8b9a;
				}
			}
		}

		.df-data-text{
			float:left;			
			border-top: 1px solid #ebebeb;
			padding: 5% 0;
			width: 100%;			
			.df-data {
				width: 65px;				
				color:#363636;				
				margin: 0 auto;
				text-align: center;
				.df-first{
					font-size: 40px;
					line-height: 25px;
					padding: 5px 0;						
				}
				p{
					font-size: 16px;					
				}
			}
			.df-text{								
				margin:0 auto;
				.df-text-caption a{
					font-size: 26px; color:#0070ac;
					padding-bottom: 5px;
					display: inline-block;					
				}
				p{
					font-size: 15px; color:#363636;font-family: "OpenSans-Regular";
				}
			}
		}
		.df-border-bot{
			border-bottom: 1px solid #ebebeb;
		}
	}
}

@media only screen and (min-width : 320px) {
	
}

@media only screen and (min-width : 480px) {
	.df-events-and-news{
		.df-content{
			.df-img{	
				.df-img-text{
					padding: 21px 45px 30px 28px !important; 
					h1 a{
						font-size: 26px !important;					
						padding: 7px 0 !important;

					}
				}
			}
		}
	}	

}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.df-events-and-news{
		.df-caption{					
			text-align: left;
			padding-left: 62px;			
			.df-cap{
				margin-right: 18px;
			}		
		}
		.df-content{
			.df-img{
				width: 34% !important;						
			}
			.df-data-text{
				padding: 10px 0;
				width: 65%;
				.df-data{
					float: left;
					margin: 0 37px 0 5%;
					text-align: left;
				}
				.df-text{
					float: left;
					//width: 77% !important;
					margin-left: 5%;
				}
			}
		}
	}	
}

@media only screen and (min-width : 1248px) {
	.container{
		width: 1320px;
	}
	.df-width{	
	margin: 0 auto;
	}
	.df-events-and-news{
		.df-content{
			.df-img{
									
			}
			.df-img-text{
				height: 152px;
			}
			.df-data-text{
				padding: 0px ;
				width: 65%;
				.df-data{
					float: left;
					margin: 0 37px 0 50px;
					padding-top: 21px;

				}
				.df-text{
					padding-top: 18px;
					float: left;
					width: 77% !important;
					height: 134px;
					margin-left: 0%;
				}
			}
		}
	}	
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}