.db-margin {
  margin-top: 10px; }

.db-inner1 {
  display: block; }

.db-inner {
  display: none; }

.db-class1 {
  position: relative;
  width: 100%; }

.db-foto-class1 {
  position: relative;
  width: 100%; }

.db-class1:before {
  float: left;
  content: '';
  margin-top: 44.5%;
  display: inline-block;
  vertical-align: top;
  width: 0px; }

.db-foto-class1:before {
  float: left;
  content: '';
  margin-top: 44.5%;
  display: inline-block;
  vertical-align: top;
  width: 0px; }

.db-class2 {
  position: relative;
  width: 100%;
  height: 100%; }

.db-foto-class2 {
  position: relative;
  width: 100%;
  height: 100%; }

.db-class2:before {
  float: left;
  content: '';
  margin-top: 44.5%;
  display: inline-block;
  vertical-align: top;
  width: 0px; }

.db-foto-class2:before {
  float: left;
  content: '';
  margin-top: 44.5%;
  display: inline-block;
  vertical-align: top;
  width: 0px; }

.db-divimg {
  width: 100%;
  height: 100%;
  position: relative; }
  .db-divimg img {
    height: 100%; }
  .db-divimg span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    font-family: "Conv_pt-serif_[allfont.ru]";
    color: #fff;
    font-size: 26px;
    line-height: 26px; }

.db-foto-divimg {
  width: 100%;
  height: 100%;
  position: relative; }
  .db-foto-divimg img {
    height: 100%; }

.db-foto-span1 {
  position: absolute;
  bottom: 70px;
  left: 30px;
  display: block;
  font-family: "OpenSans-Semibold";
  color: #fff;
  font-size: 13px !important;
  line-height: 16px !important;
  text-transform: uppercase; }

.db-foto-span2 {
  position: absolute;
  bottom: 40px;
  left: 30px;
  float: left;
  font-family: "Conv_pt-serif_[allfont.ru]";
  color: #fff;
  font-size: 20px;
  line-height: 22px; }

.db-foto-span22 {
  position: absolute;
  bottom: 20px;
  left: 30px;
  float: left;
  font-family: "Conv_pt-serif_[allfont.ru]";
  color: #fff;
  font-size: 20px;
  line-height: 22px; }

.db-foto-span3 {
  position: absolute;
  bottom: 40px;
  right: 30px;
  float: right;
  font-family: "OpenSans-Semibold";
  color: #fff;
  font-size: 16px;
  line-height: 24px; }

.db-wrapper {
  position: absolute;
  width: 100%;
  height: 100%; }

.db-div1 {
  float: left;
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; }
  .db-div1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }
  .db-div1 span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    font-family: "Conv_pt-serif_[allfont.ru]";
    color: #fff;
    font-size: 26px;
    line-height: 26px; }

.db-foto-div1 {
  float: left;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; }
  .db-foto-div1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }

.db-div2 {
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
  height: 50%;
  box-sizing: border-box; }
  .db-div2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }
  .db-div2 span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    font-family: "Conv_pt-serif_[allfont.ru]";
    color: #fff;
    font-size: 26px;
    line-height: 26px; }

.db-foto-div2 {
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
  height: 50%;
  box-sizing: border-box; }
  .db-foto-div2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }

.db-div3 {
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
  height: 50%;
  box-sizing: border-box; }
  .db-div3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }
  .db-div3 span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    font-family: "Conv_pt-serif_[allfont.ru]";
    color: #fff;
    font-size: 26px;
    line-height: 26px; }

.db-foto-div3 {
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
  height: 50%;
  box-sizing: border-box; }
  .db-foto-div3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }

.db-div4 {
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
  height: 50%;
  box-sizing: border-box; }
  .db-div4 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }
  .db-div4 span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    font-family: "Conv_pt-serif_[allfont.ru]";
    color: #fff;
    font-size: 26px;
    line-height: 26px; }

.db-foto-div4 {
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
  height: 50%;
  box-sizing: border-box; }
  .db-foto-div4 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }

.db-div5 {
  position: relative;
  overflow: hidden;
  float: left;
  width: 33%;
  height: 50%;
  box-sizing: border-box; }
  .db-div5 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }
  .db-div5 span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    font-family: "Conv_pt-serif_[allfont.ru]";
    color: #fff;
    font-size: 26px;
    line-height: 26px; }

.db-foto-div5 {
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
  height: 50%;
  box-sizing: border-box; }
  .db-foto-div5 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }

.db-div6 {
  position: relative;
  overflow: hidden;
  float: left;
  width: 42%;
  height: 50%;
  box-sizing: border-box; }
  .db-div6 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }
  .db-div6 span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
    font-family: "Conv_pt-serif_[allfont.ru]";
    color: #fff;
    font-size: 26px;
    line-height: 26px; }

.db-foto-div6 {
  position: relative;
  overflow: hidden;
  float: left;
  width: 50%;
  height: 50%;
  box-sizing: border-box; }
  .db-foto-div6 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }

.ah-blok-slider {
  position: relative; }

.prev_arrs1 {
  display: block;
  position: absolute;
  width: 43px;
  height: 50px;
  left: 0px;
  top: 46%;
  background: url(../img/db-arr-left.png) center center no-repeat; }

.next_arrs1 {
  display: block;
  position: absolute;
  width: 43px;
  height: 50px;
  right: 0px;
  top: 46%;
  background: url(../img/db-arr-right.png) center center no-repeat; }

.db-hoverbox, .db-hoverbox1, .db-foto-hoverbox1 {
  position: absolute;
  overflow: hidden;
  width: 70%;
  left: 8%;
  bottom: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1); }
  .db-hoverbox .db-p1, .db-hoverbox .db-p2, .db-hoverbox1 .db-p1, .db-hoverbox1 .db-p2, .db-foto-hoverbox1 .db-p1, .db-foto-hoverbox1 .db-p2 {
    display: block;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  .db-hoverbox .db-p1, .db-hoverbox1 .db-p1, .db-foto-hoverbox1 .db-p1 {
    font-family: "Conv_pt-serif_[allfont.ru]";
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 15px; }
  .db-hoverbox .db-p2, .db-hoverbox1 .db-p2, .db-foto-hoverbox1 .db-p2 {
    font-family: "OpenSans-Regular";
    font-size: 15px;
    line-height: 18px; }

.db-hoverbox, .db-foto-hoverbox1 {
  height: 45%; }

.db-hoverbox1 {
  height: 25%; }

.db-foto-divimg:hover, .db-divimg:hover, .db-div1:hover, .db-div2:hover,
.db-div3:hover, .db-div4:hover, .db-div5:hover, .db-div6:hover, .db-foto-div1:hover,
.db-foto-div2:hover, .db-foto-div3:hover, .db-foto-div4:hover, .db-foto-div5:hover,
.db-foto-div6:hover {
  cursor: pointer; }
  .db-foto-divimg:hover .db-hoverbox2, .db-divimg:hover .db-hoverbox2, .db-div1:hover .db-hoverbox2, .db-div2:hover .db-hoverbox2,
  .db-div3:hover .db-hoverbox2, .db-div4:hover .db-hoverbox2, .db-div5:hover .db-hoverbox2, .db-div6:hover .db-hoverbox2, .db-foto-div1:hover .db-hoverbox2,
  .db-foto-div2:hover .db-hoverbox2, .db-foto-div3:hover .db-hoverbox2, .db-foto-div4:hover .db-hoverbox2, .db-foto-div5:hover .db-hoverbox2,
  .db-foto-div6:hover .db-hoverbox2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 71, 81, 0.5);
    z-index: 1; }
  .db-foto-divimg:hover .db-hoverbox, .db-foto-divimg:hover .db-hoverbox1, .db-foto-divimg:hover .db-foto-hoverbox1, .db-divimg:hover .db-hoverbox, .db-divimg:hover .db-hoverbox1, .db-divimg:hover .db-foto-hoverbox1, .db-div1:hover .db-hoverbox, .db-div1:hover .db-hoverbox1, .db-div1:hover .db-foto-hoverbox1, .db-div2:hover .db-hoverbox, .db-div2:hover .db-hoverbox1, .db-div2:hover .db-foto-hoverbox1,
  .db-div3:hover .db-hoverbox,
  .db-div3:hover .db-hoverbox1,
  .db-div3:hover .db-foto-hoverbox1, .db-div4:hover .db-hoverbox, .db-div4:hover .db-hoverbox1, .db-div4:hover .db-foto-hoverbox1, .db-div5:hover .db-hoverbox, .db-div5:hover .db-hoverbox1, .db-div5:hover .db-foto-hoverbox1, .db-div6:hover .db-hoverbox, .db-div6:hover .db-hoverbox1, .db-div6:hover .db-foto-hoverbox1, .db-foto-div1:hover .db-hoverbox, .db-foto-div1:hover .db-hoverbox1, .db-foto-div1:hover .db-foto-hoverbox1,
  .db-foto-div2:hover .db-hoverbox,
  .db-foto-div2:hover .db-hoverbox1,
  .db-foto-div2:hover .db-foto-hoverbox1, .db-foto-div3:hover .db-hoverbox, .db-foto-div3:hover .db-hoverbox1, .db-foto-div3:hover .db-foto-hoverbox1, .db-foto-div4:hover .db-hoverbox, .db-foto-div4:hover .db-hoverbox1, .db-foto-div4:hover .db-foto-hoverbox1, .db-foto-div5:hover .db-hoverbox, .db-foto-div5:hover .db-hoverbox1, .db-foto-div5:hover .db-foto-hoverbox1,
  .db-foto-div6:hover .db-hoverbox,
  .db-foto-div6:hover .db-hoverbox1,
  .db-foto-div6:hover .db-foto-hoverbox1 {
    z-index: 2;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    .db-foto-divimg:hover .db-hoverbox .db-p1, .db-foto-divimg:hover .db-hoverbox .db-p2, .db-foto-divimg:hover .db-hoverbox1 .db-p1, .db-foto-divimg:hover .db-hoverbox1 .db-p2, .db-foto-divimg:hover .db-foto-hoverbox1 .db-p1, .db-foto-divimg:hover .db-foto-hoverbox1 .db-p2, .db-divimg:hover .db-hoverbox .db-p1, .db-divimg:hover .db-hoverbox .db-p2, .db-divimg:hover .db-hoverbox1 .db-p1, .db-divimg:hover .db-hoverbox1 .db-p2, .db-divimg:hover .db-foto-hoverbox1 .db-p1, .db-divimg:hover .db-foto-hoverbox1 .db-p2, .db-div1:hover .db-hoverbox .db-p1, .db-div1:hover .db-hoverbox .db-p2, .db-div1:hover .db-hoverbox1 .db-p1, .db-div1:hover .db-hoverbox1 .db-p2, .db-div1:hover .db-foto-hoverbox1 .db-p1, .db-div1:hover .db-foto-hoverbox1 .db-p2, .db-div2:hover .db-hoverbox .db-p1, .db-div2:hover .db-hoverbox .db-p2, .db-div2:hover .db-hoverbox1 .db-p1, .db-div2:hover .db-hoverbox1 .db-p2, .db-div2:hover .db-foto-hoverbox1 .db-p1, .db-div2:hover .db-foto-hoverbox1 .db-p2,
    .db-div3:hover .db-hoverbox .db-p1,
    .db-div3:hover .db-hoverbox .db-p2,
    .db-div3:hover .db-hoverbox1 .db-p1,
    .db-div3:hover .db-hoverbox1 .db-p2,
    .db-div3:hover .db-foto-hoverbox1 .db-p1,
    .db-div3:hover .db-foto-hoverbox1 .db-p2, .db-div4:hover .db-hoverbox .db-p1, .db-div4:hover .db-hoverbox .db-p2, .db-div4:hover .db-hoverbox1 .db-p1, .db-div4:hover .db-hoverbox1 .db-p2, .db-div4:hover .db-foto-hoverbox1 .db-p1, .db-div4:hover .db-foto-hoverbox1 .db-p2, .db-div5:hover .db-hoverbox .db-p1, .db-div5:hover .db-hoverbox .db-p2, .db-div5:hover .db-hoverbox1 .db-p1, .db-div5:hover .db-hoverbox1 .db-p2, .db-div5:hover .db-foto-hoverbox1 .db-p1, .db-div5:hover .db-foto-hoverbox1 .db-p2, .db-div6:hover .db-hoverbox .db-p1, .db-div6:hover .db-hoverbox .db-p2, .db-div6:hover .db-hoverbox1 .db-p1, .db-div6:hover .db-hoverbox1 .db-p2, .db-div6:hover .db-foto-hoverbox1 .db-p1, .db-div6:hover .db-foto-hoverbox1 .db-p2, .db-foto-div1:hover .db-hoverbox .db-p1, .db-foto-div1:hover .db-hoverbox .db-p2, .db-foto-div1:hover .db-hoverbox1 .db-p1, .db-foto-div1:hover .db-hoverbox1 .db-p2, .db-foto-div1:hover .db-foto-hoverbox1 .db-p1, .db-foto-div1:hover .db-foto-hoverbox1 .db-p2,
    .db-foto-div2:hover .db-hoverbox .db-p1,
    .db-foto-div2:hover .db-hoverbox .db-p2,
    .db-foto-div2:hover .db-hoverbox1 .db-p1,
    .db-foto-div2:hover .db-hoverbox1 .db-p2,
    .db-foto-div2:hover .db-foto-hoverbox1 .db-p1,
    .db-foto-div2:hover .db-foto-hoverbox1 .db-p2, .db-foto-div3:hover .db-hoverbox .db-p1, .db-foto-div3:hover .db-hoverbox .db-p2, .db-foto-div3:hover .db-hoverbox1 .db-p1, .db-foto-div3:hover .db-hoverbox1 .db-p2, .db-foto-div3:hover .db-foto-hoverbox1 .db-p1, .db-foto-div3:hover .db-foto-hoverbox1 .db-p2, .db-foto-div4:hover .db-hoverbox .db-p1, .db-foto-div4:hover .db-hoverbox .db-p2, .db-foto-div4:hover .db-hoverbox1 .db-p1, .db-foto-div4:hover .db-hoverbox1 .db-p2, .db-foto-div4:hover .db-foto-hoverbox1 .db-p1, .db-foto-div4:hover .db-foto-hoverbox1 .db-p2, .db-foto-div5:hover .db-hoverbox .db-p1, .db-foto-div5:hover .db-hoverbox .db-p2, .db-foto-div5:hover .db-hoverbox1 .db-p1, .db-foto-div5:hover .db-hoverbox1 .db-p2, .db-foto-div5:hover .db-foto-hoverbox1 .db-p1, .db-foto-div5:hover .db-foto-hoverbox1 .db-p2,
    .db-foto-div6:hover .db-hoverbox .db-p1,
    .db-foto-div6:hover .db-hoverbox .db-p2,
    .db-foto-div6:hover .db-hoverbox1 .db-p1,
    .db-foto-div6:hover .db-hoverbox1 .db-p2,
    .db-foto-div6:hover .db-foto-hoverbox1 .db-p1,
    .db-foto-div6:hover .db-foto-hoverbox1 .db-p2 {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }

@media only screen and (min-width: 320px) {
  .item {
    height: 500px;
    overflow: hidden; } }
@media only screen and (min-width: 768px) {
  .prev_arrs1 {
    display: block;
    position: absolute;
    width: 43px;
    height: 50px;
    left: 0px;
    top: 26%;
    background: url(../img/db-arr-left.png) center center no-repeat; }

  .next_arrs1 {
    display: block;
    position: absolute;
    width: 43px;
    height: 50px;
    right: 0px;
    top: 26%;
    background: url(../img/db-arr-right.png) center center no-repeat; }

  .db-inner1 {
    display: none; }

  .db-inner {
    display: block; }

  .db-hoverbox, .db-hoverbox1, .db-foto-hoverbox1 {
    position: absolute;
    overflow: hidden;
    width: 90%;
    left: 8%;
    bottom: 0; }
    .db-hoverbox .db-p1, .db-hoverbox1 .db-p1, .db-foto-hoverbox1 .db-p1 {
      font-size: 20px;
      line-height: 21px;
      margin-bottom: 5px; }
    .db-hoverbox .db-p2, .db-hoverbox1 .db-p2, .db-foto-hoverbox1 .db-p2 {
      font-size: 14px;
      line-height: 18px; }

  .db-hoverbox, .db-foto-hoverbox1 {
    height: 90%; }

  .db-hoverbox1 {
    height: 65%; } }
@media only screen and (min-width: 992px) {
  .db-hoverbox, .db-hoverbox1, .db-foto-hoverbox1 {
    position: absolute;
    overflow: hidden;
    width: 70%;
    left: 8%;
    bottom: 0; }
    .db-hoverbox .db-p1, .db-hoverbox1 .db-p1, .db-foto-hoverbox1 .db-p1 {
      font-family: "Conv_pt-serif_[allfont.ru]";
      font-size: 26px;
      line-height: 26px;
      margin-bottom: 15px; }
    .db-hoverbox .db-p2, .db-hoverbox1 .db-p2, .db-foto-hoverbox1 .db-p2 {
      font-family: "OpenSans-Regular";
      font-size: 15px;
      line-height: 18px; }

  .db-hoverbox, .db-foto-hoverbox1 {
    height: 45%; }

  .db-hoverbox1 {
    height: 25%; }

  .item {
    height: auto;
    overflow: none; }

  .prev_arrs1 {
    display: block;
    position: absolute;
    width: 43px;
    height: 50px;
    left: -22px;
    top: 46%;
    background: url(../img/db-arr-left.png) center center no-repeat; }

  .next_arrs1 {
    display: block;
    position: absolute;
    width: 43px;
    height: 50px;
    right: -22px;
    top: 46%;
    background: url(../img/db-arr-right.png) center center no-repeat; } }

/*# sourceMappingURL=style2.css.map */
