.clear {
  clear: both; }

.df-cap, .df-img-text, .df-data, .df-text-caption {
  font-family: "Conv_pt-serif_[allfont.ru]"; }

.df-allevents, .df-img-text span, .df-text-caption p {
  font-family: "OpenSans-Regular"; }

.df-caption {
  text-align: left; }
  .df-caption .df-cap {
    font-size: 38px;
    color: #363636;
    display: inline-block;
    letter-spacing: 2.02px;
    margin-right: 18px; }
  .df-caption .df-all-events a {
    font-size: 16px;
    color: #636363;
    font-family: "OpenSans-Regular";
    padding: 9px 25px;
    display: inline-block;
    vertical-align: 25%;
    background: url(/img/dfbgevents.png) no-repeat right center; }
  .df-caption .df-cap-subtitle {
    font-size: 16px;
    color: #636363;
    font-family: "OpenSans-Regular";
    padding-top: 14px; }

.df-events-and-news .df-caption {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 28px; }
  .df-events-and-news .df-caption .df-cap {
    font-size: 38px;
    color: #363636;
    display: inline-block;
    letter-spacing: 2.2px; }
  .df-events-and-news .df-caption .df-all-events a {
    font-size: 16px;
    color: #636363;
    font-family: "OpenSans-Regular";
    padding: 9px 25px;
    display: inline-block;
    vertical-align: 25%;
    background: url(/img/dfbgevents.png) no-repeat right center; }
  .df-events-and-news .df-caption .df-cap-subtitle {
    font-size: 16px;
    color: #636363;
    font-family: "OpenSans-Regular"; }
.df-events-and-news .df-content {
  margin-bottom: 20px; }
  .df-events-and-news .df-content .df-img {
    float: left;
    width: 100%;
    margin-bottom: 20px; }
    .df-events-and-news .df-content .df-img img {
      width: 100%;
      height: auto;
      max-height: 260px; }
    .df-events-and-news .df-content .df-img .df-img-text {
      background: #254150;
      padding: 5px 55px 30px 28px; }
      .df-events-and-news .df-content .df-img .df-img-text em {
        font-size: 16px;
        color: #6e8b9a; }
      .df-events-and-news .df-content .df-img .df-img-text h1 a {
        font-size: 19px;
        color: #ffffff;
        display: inline-block; }
      .df-events-and-news .df-content .df-img .df-img-text span {
        font-size: 15px;
        color: #6e8b9a; }
  .df-events-and-news .df-content .df-data-text {
    float: left;
    border-top: 1px solid #ebebeb;
    background: #fff;
    padding: 5% 0;
    width: 100%; }
    .df-events-and-news .df-content .df-data-text .df-data {
      width: 65px;
      color: #363636;
      margin: 0 auto;
      text-align: center; }
      .df-events-and-news .df-content .df-data-text .df-data .df-first {
        font-size: 40px;
        line-height: 25px;
        padding: 5px 0; }
      .df-events-and-news .df-content .df-data-text .df-data p {
        font-size: 16px; }
    .df-events-and-news .df-content .df-data-text .df-text {
      margin: 0 auto; }
      .df-events-and-news .df-content .df-data-text .df-text .df-text-caption a {
        font-size: 26px;
        color: #0070ac;
        padding-bottom: 5px;
        display: inline-block; }
      .df-events-and-news .df-content .df-data-text .df-text p {
        font-size: 15px;
        color: #363636;
        font-family: "OpenSans-Regular"; }
  .df-events-and-news .df-content .df-border-bot {
    border-bottom: 1px solid #ebebeb; }

.df-price, .df-price-sel, .df-liv-text h1 a {
  font-family: "Conv_pt-serif_[allfont.ru]"; }

.df-all-events a, .df-cap-subtitle, .df-price em, .df-liv-text span {
  font-family: "OpenSans-Regular"; }

.df-left, .df-right {
  width: 43px;
  height: 50px; }

.df-left {
  position: absolute;
  left: 0px;
  background: url(/img/df-left.png) no-repeat center;
  width: 43px;
  height: 50px;
  background-color: #98be28; }

.df-right {
  position: absolute;
  right: 0px;
  background: url(/img/df-right.png) no-repeat center;
  width: 43px;
  height: 50px;
  background-color: #98be28; }

.df-left, .df-right {
  bottom: 45%;
  top: 55%; }

.df-living .df-caption {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 35px; }
  .df-living .df-caption .df-cap {
    font-size: 38px;
    color: #363636;
    display: inline-block;
    letter-spacing: 2.02px;
    margin-right: 18px; }
  .df-living .df-caption .df-all-events a {
    font-size: 16px;
    color: #636363;
    padding: 9px 35px 9px 28px;
    display: inline-block;
    vertical-align: 25%;
    background: url(/img/dfbgevents.png) no-repeat right center; }
  .df-living .df-caption .df-cap-subtitle {
    font-size: 16px;
    color: #636363;
    padding-top: 14px; }
.df-living .df-liv-img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px; }
  .df-living .df-liv-img .df-imgandprice {
    width: 100%;
    position: relative; }
    .df-living .df-liv-img .df-imgandprice img {
      width: 100%;
      height: 255px; }
    .df-living .df-liv-img .df-imgandprice .df-prices {
      background: rgba(37, 65, 80, 0.5);
      display: inline-block;
      color: #fff;
      padding: 0 20px 5px 30px;
      position: absolute;
      bottom: 0;
      left: 0; }
      .df-living .df-liv-img .df-imgandprice .df-prices .df-price {
        display: inline-block;
        font-size: 26px;
        padding: 9px 0px 2px 0px; }
        .df-living .df-liv-img .df-imgandprice .df-prices .df-price em {
          font-size: 16px; }
      .df-living .df-liv-img .df-imgandprice .df-prices .df-price-sel {
        font-size: 11px;
        display: inline-block;
        margin-left: 30px; }
        .df-living .df-liv-img .df-imgandprice .df-prices .df-price-sel em {
          font-size: 16px;
          text-decoration: line-through; }
      .df-living .df-liv-img .df-imgandprice .df-prices .df-help a {
        width: 19px;
        height: 19px;
        color: #fff;
        font-size: 11px;
        display: inline-block;
        background: #98be28;
        border: 1px solid #98be28;
        border-radius: 50px;
        text-align: center;
        vertical-align: text-top;
        padding-top: 2px; }
  .df-living .df-liv-img .df-liv-text {
    background: #254150;
    padding: 0 7% 0 14%;
    min-height: 172px;
    width: inherit;
    border-right: 1px solid #345b70;
    position: relative; }
    .df-living .df-liv-img .df-liv-text h1 a {
      font-size: 26px;
      line-height: 26px;
      color: #ffffff;
      display: inline-block;
      padding: 25px 0px 10px 0; }
    .df-living .df-liv-img .df-liv-text span {
      font-size: 15px;
      color: #809dad;
      line-height: 18px;
      font-family: "OpenSans-Regular"; }
    .df-living .df-liv-img .df-liv-text .df-more {
      display: inline-block;
      color: #98be28;
      font-size: 35px;
      line-height: 0;
      border: 1px solid #98be28;
      width: 39px;
      height: 23px;
      text-align: center;
      position: absolute;
      bottom: 15px;
      right: 15px; }

.df-food .df-caption {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 31px; }
  .df-food .df-caption .df-cap {
    font-size: 38px;
    color: #363636;
    display: inline-block;
    letter-spacing: 2.02px;
    margin-right: 15px; }
  .df-food .df-caption .df-all-events a {
    font-size: 16px;
    color: #636363;
    padding: 9px 35px 9px 28px;
    display: inline-block;
    vertical-align: 25%;
    background: url(/img/dfbgevents.png) no-repeat right center; }
.df-food .df-food-img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px; }
  .df-food .df-food-img img {
    width: 100%;
    height: 255px; }
  .df-food .df-food-img .df-food-text {
    background: #367d56;
    padding: 0 7% 0 14%;
    min-height: 172px;
    width: inherit;
    border-right: 1px solid #2a6645;
    position: relative; }
    .df-food .df-food-img .df-food-text h1 a {
      font-size: 26px;
      line-height: 26px;
      color: #ffffff;
      display: inline-block;
      padding: 15px 0px 10px 0;
      font-family: "Conv_pt-serif_[allfont.ru]"; }
    .df-food .df-food-img .df-food-text span {
      font-size: 15px;
      color: #fff;
      line-height: 18px;
      font-family: "OpenSans-Regular";
      display: block;
      margin: 2px 0; }
      .df-food .df-food-img .df-food-text span em {
        color: #98be28; }
    .df-food .df-food-img .df-food-text .df-fmore {
      display: inline-block;
      color: #98be28;
      font-size: 35px;
      line-height: 0;
      border: 1px solid #98be28;
      width: 39px;
      height: 23px;
      text-align: center;
      position: absolute;
      bottom: 15px;
      right: 15px; }

@media only screen and (min-width: 320px) {
  .df-left, .df-right {
    bottom: 47%;
    top: 53%; } }
@media only screen and (min-width: 480px) {
  .df-more, .df-fmore {
    left: 28px; }

  .df-events-and-news .df-content .df-img .df-img-text {
    padding: 21px 45px 30px 28px !important; }
    .df-events-and-news .df-content .df-img .df-img-text h1 a {
      font-size: 26px !important;
      padding: 7px 0 !important; } }
@media only screen and (min-width: 768px) {
  .df-left, .df-right {
    bottom: 47%;
    top: 53%; } }
@media only screen and (min-width: 992px) {
  .df-events-and-news .df-caption {
    text-align: left;
    padding-left: 62px; }
    .df-events-and-news .df-caption .df-cap {
      margin-right: 18px; }
  .df-events-and-news .df-content .df-img {
    width: 34% !important; }
  .df-events-and-news .df-content .df-data-text {
    padding: 10px 0;
    width: 65%; }
    .df-events-and-news .df-content .df-data-text .df-data {
      float: left;
      margin: 0 37px 0 5%;
      text-align: left; }
    .df-events-and-news .df-content .df-data-text .df-text {
      float: left;
      margin-left: 5%; }

  .df-living .df-caption {
    text-align: left;
    padding-left: 62px;
    margin-top: 65px !important; }
  .df-living .df-liv-img {
    margin: 0;
    margin-bottom: 15px;
    max-height: 425px;
    overflow: hidden; }
    .df-living .df-liv-img .df-imgandprice .df-prices {
      max-width: 330px; }

  .df-left, .df-right {
    bottom: 40%;
    top: 60%; }

  .df-food .df-caption {
    text-align: left;
    padding-left: 62px;
    margin-top: 70px !important; }
  .df-food .df-food-img {
    margin: 0;
    margin-bottom: 15px;
    max-height: 425px;
    overflow: hidden; }
    .df-food .df-food-img .df-food-text h1 a {
      padding: 25px 0px 10px 0; } }
@media only screen and (min-width: 1248px) {
  .container {
    width: 1320px; }

  .df-right {
    right: -20px; }

  .df-left {
    left: -20px; }

  .df-events-and-news .df-content .df-img-text {
    height: 152px; }
  .df-events-and-news .df-content .df-data-text {
    padding: 0px;
    width: 65%; }
    .df-events-and-news .df-content .df-data-text .df-data {
      float: left;
      margin: 0 37px 0 50px;
      padding-top: 21px; }
    .df-events-and-news .df-content .df-data-text .df-text {
      padding-top: 18px;
      float: left;
      width: 77% !important;
      height: 135.8px;
      margin-left: 0%; }

  .df-liv-text {
    padding: 0px 45px 0px 30px !important; }

  .df-food-text {
    padding: 0px 45px 0px 30px !important; } }

/*# sourceMappingURL=style5.css.map */
