@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";

// *********************
.db-margin{
	margin-top: 69px;
	margin-bottom: 42px;
}
.db-inner1{
	display: block;
}
.db-inner{
	display: none;
}
.db-class1{
	position: relative;
	width: 100%;
	// outline: 1px solid red;
}
.db-class1:before{
	float: left;
	content:'';
	margin-top: 44.5%; // высчитывается от ширины слайда
	display: inline-block;
	vertical-align: top;
	width: 0px;
}
// ******************
.db-class2{
	position: relative;
	width: 100%;
	height: 100%;
	// background-color: red;
}
.db-class2:before{
	float: left;
	content:'';
	margin-top: 44.5%; // высчитывается от ширины слайда
	display: inline-block;
	vertical-align: top;
	width: 0px;
}
.db-divimg{
	width: 100%;
	height: 100%;
	position: relative;
	// overflow: hidden;
	img{
		height: 100%;
	}
	span{
		position: absolute;
		bottom: 30px;
		left: 30px;
		display: block;
		font-family: "Conv_pt-serif_[allfont.ru]";
		color: #fff;
		font-size: 26px;
		line-height: 26px;
	}
}
// *******************
.db-wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
}
.db-div1{
	float: left;
	width: 25%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	img{
		position: absolute; //* --- делает картинку не responsiv-ой, внутри слайда и для остальных так же
		top: 50%; //*
		left: 50%; //*
		transform: translate(-50%, -50%); //*
		height: 100%;
	}
	span{
		position: absolute;
		bottom: 30px;
		left: 30px;
		display: block;
		font-family: "Conv_pt-serif_[allfont.ru]";
		color: #fff;
		font-size: 26px;
		line-height: 26px;
	}
}
.db-div2{
	position: relative;
	overflow: hidden;
	float: left;
	width: 25%;
	height: 50%;
	box-sizing: border-box;
	img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
	}
	span{
		position: absolute;
		bottom: 30px;
		left: 30px;
		display: block;
		font-family: "Conv_pt-serif_[allfont.ru]";
		color: #fff;
		font-size: 26px;
		line-height: 26px;
	}
}
.db-div3{
	position: relative;
	overflow: hidden;
	float: left;
	width: 25%;
	height: 50%;
	box-sizing: border-box;
	img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
	}
	span{
		position: absolute;
		bottom: 30px;
		left: 30px;
		display: block;
		font-family: "Conv_pt-serif_[allfont.ru]";
		color: #fff;
		font-size: 26px;
		line-height: 26px;
	}
}
.db-div4{
	position: relative;
	overflow: hidden;
	float: left;
	width: 25%;
	height: 50%;
	box-sizing: border-box;
	img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
	}
	span{
		position: absolute;
		bottom: 30px;
		left: 30px;
		display: block;
		font-family: "Conv_pt-serif_[allfont.ru]";
		color: #fff;
		font-size: 26px;
		line-height: 26px;
	}
}
.db-div5{
	position: relative;
	overflow: hidden;
	float: left;
	width: 33%;
	height: 50%;
	box-sizing: border-box;
	img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
	}
	span{
		position: absolute;
		bottom: 30px;
		left: 30px;
		display: block;
		font-family: "Conv_pt-serif_[allfont.ru]";
		color: #fff;
		font-size: 26px;
		line-height: 26px;
	}
}
.db-div6{
	position: relative;
	overflow: hidden;
	float: left;
	width: 42%;
	height: 50%;
	box-sizing: border-box;
	img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
	}
	span{
		position: absolute;
		bottom: 30px;
		left: 30px;
		display: block;
		font-family: "Conv_pt-serif_[allfont.ru]";
		color: #fff;
		font-size: 26px;
		line-height: 26px;
	}
}
.ah-blok-slider{
	position: relative;
}
.prev_arrs1{
	display: block;
	position: absolute;
	width: 43px; 
	height: 50px;
	left: 0px;
	top: 46%;
	background: url(../img/db-arr-left.png) center center no-repeat;
}
.next_arrs1{
	display: block;
	position: absolute;
	width: 43px; 
	height: 50px;
	right: 0px;
	top: 46%;
	background: url(../img/db-arr-right.png) center center no-repeat;
}



// ********************* Эфеты для ХОВЕРА *******************

// у родительского блока должны быть такие параметры
// они у меня были поэтому я их отключил здесь
//это для наглядности

// .db-div1 ..... .db-div6 {
//   width: 100%;
//   height: 100%;
//   float: left;
//   overflow: hidden;
//   position: relative;
//   text-align: center;
//   cursor: default;
// }

//стили для появляющегося дива с контентом
.db-hoverbox, .db-hoverbox1{
	position: absolute;
	overflow: hidden;
	width: 70%;
	left: 8%;
	bottom: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale(0,1);
	.db-p1, .db-p2{
		display: block;
		color: #fff;
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: translate3d(0,100%,0);
		transform: translate3d(0,100%,0);
	}
	.db-p1{
		font-family: "Conv_pt-serif_[allfont.ru]";
		font-size: 26px;
		line-height: 26px;
		margin-bottom: 15px;
	}
	.db-p2{
		font-family: "OpenSans-Regular";
		font-size: 15px;
		line-height: 18px;
	}
}
.db-hoverbox{
	height: 45%;
}
.db-hoverbox1{
	height: 25%;
}
.db-divimg:hover, .db-div1:hover, .db-div2:hover, .db-div3:hover, .db-div4:hover, .db-div5:hover, .db-div6:hover{
	cursor: pointer;
	span{
		display: none;
	}
	.db-hoverbox2{ //этот див стоит как маска над дивом с контентом. Помещен в ховер
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(51,71,81,0.5);
		z-index: 1;
	}
	.db-hoverbox, .db-hoverbox1{
		z-index: 2;
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		.db-p1, .db-p2{
			opacity: 1;
			filter: alpha(opacity=100);
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}
	}
}

// ********************* Эфеты для ХОВЕРА *******************










@media only screen and (min-width : 320px) {
	.item{
		height: 500px;
		overflow: hidden;
	}
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
	.db-inner1{
		display: none;
	}
	.db-inner{
		display: block;
	}
	// .item{
	// 	height: auto;
	// 	overflow: none;
	// }
}

@media only screen and (min-width : 992px) {
	.item{
		height: auto;
		overflow: none;
	}
	.prev_arrs1{
		display: block;
		position: absolute;
		width: 43px; 
		height: 50px;
		left: -22px;
		top: 46%;
		background: url(../img/db-arr-left.png) center center no-repeat;
	}
	.next_arrs1{
		display: block;
		position: absolute;
		width: 43px; 
		height: 50px;
		right: -22px;
		top: 46%;
		background: url(../img/db-arr-right.png) center center no-repeat;
	}
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}