@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";

// *********************
.db-margin{
	margin-top: 69px;
	margin-bottom: 42px;
}
.db-inner1{
	display: block;
}
.db-inner{
	display: none;
}
.db-class1{
	position: relative;
	width: 100%;
	// outline: 1px solid red;
}
.db-class1:before{
	float: left;
	content:'';
	margin-top: 44.5%; // высчитывается от ширины слайда
	display: inline-block;
	vertical-align: top;
	width: 0px;
}
// ******************
.db-class2{
	position: relative;
	width: 100%;
	height: 100%;
	// background-color: red;
}
.db-class2:before{
	float: left;
	content:'';
	margin-top: 44.5%; // высчитывается от ширины слайда
	display: inline-block;
	vertical-align: top;
	width: 0px;
}
.db-divimg{
	width: 100%;
	height: 100%;
	img{
		height: 100%;
	}
}
// *******************
.db-wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
}
.db-div1{
	float: left;
	width: 25%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	img{
		position: absolute; //* --- делает картинку не responsiv-ой, внутри слайда и для остальных так же
		top: 50%; //*
		left: 50%; //*
		transform: translate(-50%, -50%); //*
		height: 100%;
	}
}
.db-div2{
	position: relative;
	overflow: hidden;
	float: left;
	width: 25%;
	height: 50%;
	box-sizing: border-box;
	img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
	}
}
.db-div3{
	position: relative;
	overflow: hidden;
	float: left;
	width: 25%;
	height: 50%;
	box-sizing: border-box;
	img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
	}
}
.db-div4{
	position: relative;
	overflow: hidden;
	float: left;
	width: 25%;
	height: 50%;
	box-sizing: border-box;
	img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
	}
}
.db-div5{
	position: relative;
	overflow: hidden;
	float: left;
	width: 33%;
	height: 50%;
	box-sizing: border-box;
	img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
	}
}
.db-div6{
	position: relative;
	overflow: hidden;
	float: left;
	width: 42%;
	height: 50%;
	box-sizing: border-box;
	img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
	}
}















@media only screen and (min-width : 320px) {
	.item{
		height: 500px;
		overflow: hidden;
	}
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
	.db-inner1{
		display: none;
	}
	.db-inner{
		display: block;
	}
	// .item{
	// 	height: auto;
	// 	overflow: none;
	// }
}

@media only screen and (min-width : 992px) {
	.item{
		height: auto;
		overflow: none;
	}
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}