.clear{
	clear:both;
}
.df-cap, .df-img-text, .df-data, .df-text-caption {
	font-family: "Conv_pt-serif_[allfont.ru]";
}

.df-allevents, .df-img-text span, .df-text-caption p {
	font-family: "OpenSans-Regular";
}


									// CAPTION FOR FUN.PHP
.df-caption{
	text-align: left;
	//padding-left: 62px;			
	.df-cap{
		font-size: 38px; color:#363636;		
		display: inline-block;
		letter-spacing: 2.02px;
		margin-right: 18px;
	}
	.df-all-events a{
		font-size: 16px; color:#636363; font-family: "OpenSans-Regular";			
		padding: 9px 25px;
		display: inline-block;
		vertical-align: 25%;
		background: url(/img/dfbgevents.png) no-repeat right  center;
		transition: background 0.5s ease-in-out, color 0.5s;
		-webkit-transition: background 0.5s ease-in-out, color 0.5s;
		-moz-transition: background 0.5s ease-in-out, color 0.5s;
		-o-transition:	background 0.5s ease-in-out, color 0.5s;					
	}
	.df-all-events a:hover{
			background:url(/img/dfbgevents2.png)no-repeat right  center;
			padding: 9px 25px;
			vertical-align: 25%;
			color:#fff;
		}
	.df-cap-subtitle{
		font-size: 16px;color:#636363; font-family: "OpenSans-Regular";
		padding-top: 14px;
	}
}		
									//END FOR FUN .PHP


									//EVENTS AND NEWS.PHP


.df-events-and-news{
	background: #fff;
	.df-caption{
		text-align: center;		
		padding-top: 50px;
		margin-bottom: 28px;				
		.df-cap{
			font-size: 38px; color:#363636;		//42	
			display: inline-block;
			letter-spacing: 2.2px;
		}
		.df-all-events a{
			font-size: 16px; color:#636363; font-family: "OpenSans-Regular";			
			padding: 9px 25px;
			display: inline-block;
			vertical-align: 25%;
			background: url(/img/dfbgevents.png) no-repeat right  center;
			transition: background 0.5s ease-in-out, color 0.5s;
			-webkit-transition: background 0.5s ease-in-out, color 0.5s;
 			-moz-transition: background 0.5s ease-in-out, color 0.5s;
 			-o-transition:	background 0.5s ease-in-out, color 0.5s;		
		}
		.df-all-events a:hover{
			background:url(/img/dfbgevents2.png)no-repeat right  center;
			padding: 9px 25px;
			vertical-align: 25%;
			color:#fff;
		}
		.df-cap-subtitle{
			font-size: 16px;color:#636363; font-family: "OpenSans-Regular";
		}		
	}
	.df-content{
		margin-bottom: 20px;
		.df-img {
			float: left;
			width: 100%;			
			img{
				width: 100%;
				height: auto;
				max-height: 260px;
			}
			.df-img-text{							 
				background: #254150;
				padding: 5px 55px 30px 28px;			
				-webkit-transition: background 0.5s; 
     			-moz-transition: background 0.5s; 
     			-o-transition: background 0.5s; 
				transition: background 0.5s; 
				em{
					font-size: 16px; color:#6e8b9a;
				}
				h1 a{
					font-size: 19px;//26
					color:#ffffff;
					display: inline-block; 					
				}
				span{
					font-size: 15px; color:#6e8b9a;
				}				
			}
			.df-img-text:hover{
				background:#345b70;
				h1 a{
					text-decoration:underline;	
				}
			}
		}

		.df-data-text{
			float:left;			
			border-top: 1px solid #D1D1D1;			
			padding: 5% 0;
			width: 100%;			
			.df-data {
				width: 65px;				
				color:#363636;				
				margin: 0 auto;
				text-align: center;
				.df-first{
					font-size: 40px;
					line-height: 25px;
					padding: 5px 0;						
				}
				p{
					font-size: 16px;					
				}
			}
			.df-text{								
				margin:0 auto;
				.df-text-caption a{
					font-size: 26px; color:#0070ac;
					padding-bottom: 5px;
					display: inline-block;					
				}
				.df-text-caption a:hover{
					text-decoration: underline;
				}
				p{
					font-size: 15px; color:#363636;font-family: "OpenSans-Regular";
				}
			}
		}
		.df-border-bot{
			border-bottom: 1px solid #D1D1D1;
		}
	}
}
										//END EV AND NEWS PHP


										//LIVING AND FOOD .PHP
.df-price, .df-price-sel, .df-liv-text h1 a{
	font-family: "Conv_pt-serif_[allfont.ru]";
}
.df-all-events a, .df-cap-subtitle, .df-price em, .df-liv-text span{
	font-family: "OpenSans-Regular";		
}

			//leftand right
.df-left, .df-right, .df-left-luxe, .df-right-luxe{
	width: 43px; height: 50px; //<< left right owl carousel
}
.df-left, .df-left-luxe{
	position: absolute;
	left: 0px;	
	background: url(/img/df-left.png) no-repeat center;
	width: 43px; height: 50px; background-color: #98be28;	
}
.df-right, .df-right-luxe{
	position: absolute;
	right:0px; //-20px	
	background: url(/img/df-right.png) no-repeat center;
	width: 43px; height: 50px; background-color: #98be28;	
}
.df-left, .df-right, .df-left-luxe, .df-right-luxe{
	bottom:45%;
	top:55%;
}
.df-left, .df-right, .df-left-luxe, .df-right-luxe{
	background-color: #98be28;	
	transition: background 0.5s ease-in-out;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	-o-transition:	background 0.5s ease-in-out;	
}
.df-right:hover{
	background-color:#5f7c0b;
}
.df-left:hover{
	background-color:#d7d7d7;
}
.df-left-luxe:hover{
	background-color:#d7d7d7;
}
.df-right-luxe:hover{
	background-color:#5f7c0b;
}
 //end left & right

.df-living{
	background:#fff;		
	.df-caption{
		text-align: center; //left;
		padding-top:25px; //65px
		padding-bottom: 35px;			
		.df-cap{
			font-size: 38px; color:#363636;		
			display: inline-block;
			letter-spacing: 2.02px;
			margin-right: 18px;
		}
		.df-all-events a{
			font-size: 16px; color:#636363; 	
			padding: 9px 35px 9px 28px;
			display: inline-block;
			vertical-align: 25%;
			background: url(/img/dfbgevents.png) no-repeat right  center;
			transition: background 0.5s ease-in-out, color 0.5s;
			-webkit-transition: background 0.5s ease-in-out, color 0.5s;
			-moz-transition: background 0.5s ease-in-out, color 0.5s;
			-o-transition:	background 0.5s ease-in-out, color 0.5s;			
		}
		.df-all-events a:hover{
			background:url(/img/dfbgevents2.png)no-repeat right  center;
			padding: 9px 35px 9px 28px;
			vertical-align: 25%;
			color:#fff;
		}
		.df-cap-subtitle{
			font-size: 16px;color:#636363; 
			padding-top: 14px;
		}
	}	
	.df-liv-img {
		//max-width: 442px;		
		width: 100%;
		margin: 0 auto;
		margin-bottom: 10px;		
		.df-imgandprice{				
				width: 100%;
				// margin-bottom: 20px;
				position: relative;
				img{
					width: 100%;
					height: 255px;					
				}
				.df-prices{
					background: rgba(#254150, 0.5);
					display: inline-block;
					color:#fff;
					//text-align: center;
					padding: 0 20px 5px 30px;
					position: absolute;
					bottom: 0;
					left:0;
					.df-price{
						display: inline-block;
						font-size: 26px;
						padding: 9px 0px 2px 0px;//20						
						em{
							font-size: 16px;
						}
					}
					.df-price-sel{
						font-size: 11px;
						display: inline-block;
						margin-left: 30px;

						em{
							font-size: 16px;
							text-decoration: line-through;
						}
					}
					.df-help a{
						width: 19px; height: 19px; color:#fff; font-size: 11px;
						display: inline-block;
						background: #98be28; //<<green
						border:1px solid #98be28;
						border-radius: 50px;
						text-align: center;	vertical-align: text-top; padding-top: 2px;					
					}
				}
			}
			.df-liv-text{							 
				background: #254150;
				padding:0 7% 0 14%;
				//padding: 0px 45px 0px 30px; 
				min-height: 172px;
				width: inherit;
				border-right: 1px solid #345b70;
				position: relative;				
				-webkit-transition: background 0.5s; 
     			-moz-transition: background 0.5s; 
     			-o-transition: background 0.5s; 
				transition: background 0.5s;  				
				h1 a{
					font-size: 26px; line-height: 26px;
					color:#ffffff;
					display: inline-block;
					padding: 25px 0px 10px 0; 					
				}
				
				span{
					font-size: 15px; color:#809dad; line-height: 18px;font-family: "OpenSans-Regular";
				}
				.df-more{
					display:inline-block;
					color:#98be28; font-size: 35px; line-height: 0;								
					border:1px solid #98be28;
					width: 39px; height: 23px;
					text-align: center;
					position: absolute;
					bottom: 15px; 
					right:15px;								
				}
			}
			.df-liv-text:hover{
				background:#345b70;
				h1 a{
					text-decoration: underline;
				}
			}	
	}												
}

												//END-LIVING-AND-FOOD.PHP


												//FOOD.PHP


.df-food{
	
	.df-caption{
		text-align: center; //left;
		padding-top:25px; //65px
		padding-bottom: 31px;
		background:#fff;				
		.df-cap{
			font-size: 38px; color:#363636;		
			display: inline-block;
			letter-spacing: 2.02px;
			margin-right: 15px;
		}
		.df-all-events a{
			font-size: 16px; color:#636363; 	
			padding: 9px 35px 9px 28px;
			display: inline-block;
			vertical-align: 25%;
			background: url(/img/dfbgevents.png) no-repeat right  center;
			transition: background 0.5s ease-in-out, color 0.5s;
			-webkit-transition: background 0.5s ease-in-out, color 0.5s;
			-moz-transition: background 0.5s ease-in-out, color 0.5s;
			-o-transition:	background 0.5s ease-in-out, color 0.5s;			
		}
		.df-all-events a:hover{
			background:url(/img/dfbgevents2.png)no-repeat right  center;
			padding: 9px 35px 9px 28px;
			vertical-align: 25%;
			color:#fff;
		}		
	}	
	.df-food-img {
		//max-width: 442px;		
		width: 100%;
		margin: 0 auto;
		margin-bottom: 10px;		
			img{
				width: 100%;
				height: 255px;					
			}			
			.df-food-text{							 
				background: #367d56;
				padding:0 7% 0 14%;
				//padding: 0px 45px 0px 30px; //28 70 15 30
				min-height: 172px;
				width: inherit;
				border-right: 1px solid #2a6645;
				position: relative;				
				-webkit-transition: background 0.5s; 
     			-moz-transition: background 0.5s; 
     			-o-transition: background 0.5s; 
				transition: background 0.5s;  	 				
				h1 a{
					font-size: 26px; line-height: 26px;
					color:#ffffff;
					display: inline-block;
					padding: 15px 0px 10px 0;
					font-family: "Conv_pt-serif_[allfont.ru]";									
				}
				
				span{
					font-size: 15px; 
					color:#fff; 
					line-height: 18px;
					font-family: "OpenSans-Regular";
					display:block;
					margin: 2px 0;
					em{
						color:#98be28;
					}
				}
				.df-fmore{
					display:inline-block;
					color:#98be28; font-size: 35px; line-height: 0;								
					border:1px solid #98be28;
					width: 39px; height: 23px;
					text-align: center;
					position: absolute;
					bottom: 15px; 
					right:15px;								
				}
			}
			.df-food-text:hover{
				background:#479f6f;
				h1 a{
					text-decoration: underline;
				}
			}	
	}												
}
//			==food php end


//CONTACTSPHP
.nopadding{
	padding:0 !important;
}
.df-bg-contact {
	background: #fff;	
}
.df-contacts-cap{
	font-size: 42px; color:#363636;
	font-family: "Conv_pt-serif_[allfont.ru]";
	margin:50px 0 30px 60px;
}
.df-contacts-map{
	height: 352px; width: 100%;
}
.df-telefons, .df-address{
	display: block;
	width: 310px;
	float: left;
	margin: 14px 0px 55px 120px;
	padding-top:22px;
	h3{
		font-size: 26px;font-family: "Conv_pt-serif_[allfont.ru]";
		color:#363636;
		border-bottom: 1px solid #cccccc;
		padding-bottom: 31px;
		margin-bottom:22px;
	}
	div{
		margin-bottom: 15px;
		span{
			font-family: "Conv_pt-serif_[allfont.ru]";
			font-size: 22px; color:#363636;
			display: block;			
			line-height: 28px;
		}
		span:first-child{
			text-transform: uppercase;
			color:#555555;
			font-size: 13px;
			font-family: "OpenSans-Regular";
		}
	}

}
.df-address{
	display: block;
	margin-left: 75px;
	padding-top:22px;
	div{
		margin-top:31px;
		margin-bottom:0;
		span{
			font-family: "OpenSans-Regular";
			font-size: 15px; color:#363636;
			display: block;			
			line-height: 24px;
		}
	}
}

//END-CONTACTS.PHP
/*============== Brad Crumps =============*/

.df-brad-crumps{
	padding:10px 0px;
	a,span{
	 font-family: "OpenSans-Semibold";
	 text-transform: uppercase;
	 font-size: 11px;
	 color:#828D93;	
	}
	a{
		background: url("../img/dd-brad.png") no-repeat right center;
		display: inline-block;
		padding:0 20px 0 10px;
	} 
	span{
		padding-left: 10px;
	}	
}

/*========================================*/


//START LUXE PHP


.dfleftbox-cap, .dfpricetext, .dfpricehour, .df-open-text{
	font-family: "Conv_pt-serif_[allfont.ru]";
}


.df-luxe{
	background: #fff;
	margin-bottom: 12px;
	.df-luxe-leftbox{
		//float: left;
		//max-width: 879px;
		//width: 65%;
		padding: 0 20px;//50
		.df-luxe-text{
			padding-left: 9px;
			.dfleftbox-cap{			
				font-size: 42px;
				color:#363636;
				margin: 37px 0 9px 0;
			}
			p{
				font-family: "OpenSans-Regular";
				font-size: 16px;
				line-height: 24px;
				color:#636363;
				background: linear-gradient(to bottom, rgba(0,0,0,1) 50%, rgba(0,0,0,0) );
				 -webkit-background-clip: text;
				 -webkit-text-fill-color: transparent;
			}
			.df-open-text{
				display: inline-block;
				color:#0070ac;
				font-size: 18px;
				border-bottom: 1px dashed #0070ac;
				padding-right: 19px;
				background: url(/img/df-linkbg.png) no-repeat right center;
				margin: 43px 0 35px 0;
			}
			.df-open-text:hover{
				border-bottom:1px solid rgba(0,0,0, 0.0);
			}
			.df-lux-slider{					
				.df-itemluxe{
					height: auto;
					div{
						width: 100%;
						margin: 0 auto;					
						img{
							width: 100%;
							height: auto;
						}
					}
				}						
			}
		}		
	}
	.df-luxe-rightbox{		
		//padding: 20px 50px 15px 50px;//5%
		padding: 15px 0;
		//max-width: 440px;
		//float: right;
		margin: 0 auto;
		.df-luxe-bg{
			background: #98be28;
			//padding: 50px 50px 40px 50px;//5%
			padding: 25px 5% 15px 5%;
			.df-pricebox{
				border:1px solid #fff;
				height: 148px;
				position: relative;
				margin-bottom: 44px;
				.dfpricetext, .dfpricehour{
					font-size: 18px;					
					color:#5f7c0b;
					display: inline-block;				
					position: absolute;
					padding: 0 7%;//30
					background: #98be28;
				}
				.dfpricemoney{
					font-size: 42px;
					color:#fff;
					font-family: "PtSerifBold";
					font-style:normal;				
					position: absolute;				
					left: 50%;
					top:50%;
					transform: translate(-50%, -50%);
					padding-right: 10px;//40
					background: url(/img/dfruble.png) no-repeat center right;
				}
				.dfpricetext{
					left: 50%;
					transform: translate(-50%, 0);
					top:-9%;
				}
				.dfpricehour{
					left: 50%;
					transform: translate(-50%, 0);
					bottom:-9%;
				}
			}
			span{
				font-family: "Conv_pt-serif_[allfont.ru]"; color:#fff;
				font-size: 26px;
				display:block;			//<<<<
				text-align: left;
			}
			.df-tel{
				margin:0 auto;		
				margin-top: 29px;
				max-width: 222px;
				font-size: 22px;
				display: inline-block;
				padding-left: 29px;
				background: url(/img/dd-trubka.png) no-repeat left center;

			}
			.df-img-luxe{
				margin: 0 auto;
				// max-width: 338px;
				// height: 145px;//<<<<<
				position: relative;			
				margin-top: 30px; 
				img{
					width: 100%;
					height: auto;
					position: relative;			
				}
				span a{
					font-size: 22px; line-height:26px;color:#fff;
					font-family: "Conv_pt-serif_[allfont.ru]";
					display: inline-block;
					position: absolute;
					bottom:30px;//22
					left:29px;//29
				}				
			}
			.df-img-luxe:hover{				
				span a{
					text-decoration: underline;
					z-index: 11;
				}
			}
			.df-img-luxe:hover:before{				
				content: "";				
                position: absolute;
                width: 100%;
                height: 99%;
                left:0;
                top:0;
                background: rgba(white,0.3);
                z-index: 10;		
			}	 	
		}
	}
}
.item{
	height: auto !important;
}	
.df-left-luxe, .df-right-luxe{
	// bottom:40%;		//<<<<===slider left and right
	top:50%;
	transform: translate(0%, -50%);
}
@media only screen and (min-width : 320px) {
	.df-left, .df-right{
		bottom:47%;
		top:53%;
	}	
}

@media only screen and (min-width : 480px) {
	

	.df-more, .df-fmore{
	left:28px;
	}	


	.df-events-and-news{
		.df-content{
			.df-img{	
				.df-img-text{
					padding: 21px 45px 30px 28px !important; 
					h1 a{
						font-size: 26px !important;					
						padding: 7px 0 !important;
					}
				}
			}
		}
	}	

}

@media only screen and (min-width : 768px) {
	.df-left, .df-right{
		bottom:47%;
		top:53%;
	}

	// .df-prices{
	// 	max-width: 330px;
	// }
}

@media only screen and (min-width : 992px) {
	//events and news.php
	.df-events-and-news{
		.df-caption{					
			text-align: left;
			padding-left: 62px;
			
			.df-cap{
				margin-right: 18px;
			}		
		}
		.df-content{
			.df-img{
				width: 34% !important;
				margin-bottom: 0;						
			}
			.df-data-text{
				padding: 10px 0;
				width: 65%;
				.df-data{
					float: left;
					margin: 0 37px 0 5%;
					text-align: left;
				}
				.df-text{
					float: left;
					//width: 77% !important;
					margin-left: 5%;
				}
			}
		}
	}
//end events and news.

	
//living.php
.df-living{
	.df-caption{
		text-align: left; 
		padding-left: 62px;
		padding-top:65px !important;					
	}	
	.df-liv-img {		 
		margin: 0;
		margin-bottom: 15px;
		max-height: 425px;
		overflow: hidden;	
	.df-imgandprice{
			.df-prices{
				max-width: 330px;				
			}				
		}				
	}												
}
//end living.php
.df-left, .df-right{
	bottom:40%;		//<<<<===slider left and right
	top:60%;
}

//food.php

.df-food{	
	.df-caption{
		text-align: left; 
		padding-left: 62px;
		padding-top:60px !important;
		margin-top:7px;					
	}	
	.df-food-img {		 
		margin: 0;
		margin-bottom: 15px;
		max-height: 425px;
		overflow: hidden;
		.df-food-text{
			h1 a{
				padding: 25px 0px 10px 0;
			}
		}			
	}												
}
//endfood


//luxe.php
	.df-luxe{
		.df-luxe-leftbox{		
			padding: 0 50px !important;//30
			.df-lux-slider{			
				.df-itemluxe{
				height: auto;				
					div{
						width: 242px !important;
						// padding: 0 5px;		
					}				
				}			
			}		
		}
		.df-luxe-rightbox{		
			padding: 20px 50px 0 50px !important;
			.df-luxe-bg{			
				padding: 50px 50px 40px 50px !important;//5%		
			}			
		}		
	}						
}

@media only screen and (min-width : 1248px) {
	.container{
		width: 1320px;
	}
	
.df-right{right:-20px;}
.df-left{left:-20px;}

	.df-events-and-news{
		.df-content{			
			.df-img-text{
				height: 152px;
			}
			.df-data-text{
				padding: 0px ;
				width: 66%;
				.df-data{
					float: left;
					margin: 0 37px 0 50px;
					padding-top: 21px;
				}
				.df-text{
					padding-top: 18px;
					float: left;
					width: 77% !important;
					height: 135.8px;
					margin-left: 0%;
				}
			}
		}
	}

	//luxe php
	.df-luxe{
		.df-luxe-leftbox{
			float: left;
			max-width: 879px;
			padding: 0 29px 0 52px !important;//50
			.df-lux-slider{			
				.df-itemluxe{				
					div{
						width: 250px !important;										
					}				
				}			
			}		
		}
		.df-luxe-rightbox{		
			padding:0 !important;
			min-width: 440px;
			width: 30%;
			float: right;		
			.df-luxe-bg{			
				padding: 50px 50px 40px 50px !important;//5%		
			}
		}	
		.df-img-luxe{		
			max-width: 338px;
			height: 145px;
			span a{
				bottom: 22px;
			}
		}				
	}
	.df-left-luxe{
		left:-20px;
	}
	.df-right-luxe{
		right:-5px;
	}
	.df-liv-text{padding: 0px 45px 0px 30px !important; }
	.df-food-text{padding: 0px 45px 0px 30px !important; }		
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}